<!-- .menu__wraper :: _mobile, _mobile_expanded, _left, _center, _right-->


#menu.menu__wraper.menu__wraper_right.menu__wraper_mobile
    .menu__gamburger
    ul.menu
        li.menu__item.menu__item_active <!-- _active -->
            a(id="id1" href="#").menu__link link1
        li.menu__item
            a(id="id2" href="#").menu__link link2
        li.menu__item
            a(id="id3" href="#").menu__link link3
        li.menu__item
            a(id="id4" href="#").menu__link link4

